*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}
ol, ul {
  list-style: none;
}
a{
  text-decoration: none;
}
.clearfix:after{
  display: block;
  clear: both;
  content: "";
  height: 0;
}
h1, h2, h3, h4, h5{
  font-family: 'Oswald', sans-serif;
}
h1{
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  padding: 15px;
}
h1 span{
  font-weight: lighter;
  color: #DB4C4D;
}
h3{
  color: #00A388;
  font-size: 36px;
  text-align: center;
  margin: 10px 0 20px;
  text-transform: uppercase;
}
header{
  background-color: #1C2240;
  height: 75px;
}
header nav, h1{
  float: left;
  width: 50%;
}
header nav > ul{
  float: right;
  padding-top: 15px;
}
header nav > ul > li{
  font-size: 22px;
  width: 150px;
  text-align: center;
}
header nav ul li{
  float: left;
  color: white;
  position: relative;
}
header nav > ul > li:first-of-type{
  padding: 10px;
  background-color: #00A388;
  border-radius: 10px;
  margin-right: 25px;
}
main{
  background-color: #eee;
}
#signup, #login{
  background-image: url(/../assets/signupbg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 700px;
  padding-top: 40px;
}
#signupView, #loginView{
  background-color: rgba(255,255,255,0.5);
  width: 450px;
  border-radius: 15px;
  margin: 0 auto;
  padding: 30px 0;
}
#signupForm, #loginForm{
  width: 400px;
  margin: 0 auto;
}
#signupForm input, #signupForm button, #loginForm input, #loginForm button{
  display: block;
  width: 350px;
  margin: 0 auto 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#signupForm input, #loginForm input{
  padding: 5px;
  box-shadow: 1px -1px 1px 1px #ccc;
  border-radius: 8px;
}
#signupForm button, #loginForm button{
  padding: 8px;
  text-align: center;
  background-color: #DB4C4D;
  color: white;
}
#signupView p, #loginView p{
  text-align: center;
}
#signupView p a, #loginView p a{
  text-decoration: underline;
}
.innerWrapper{
  width: 50%;
  margin: 0 auto;
}
.timelineLog{
  width: 85%;
  margin: 10px auto 35px;
  border-radius: 10px;
}
.timelineLog > div{
  float: left;
}
.timelineLog > div:first-of-type{
  width: 100px;
}
.timelineLog > div:nth-of-type(2){
  width: 300px;
  font-weight: lighter;
}
.timelineLog h4{
  font-size: 28px;
  margin: 5px 0;
}
.timelineLog h6{
  font-size: 15px;
  margin: 8px 0;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
}
.timelineLog p{
  font-size: 20px;
}
.timelineLog img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.time{
  width: 100px;
  padding-top: 10px;
}
.time p:first-of-type{
  font-size: 28px;
}
.time p{
  font-size: 42px;
  text-align: center;
}
.amPM{
  letter-spacing: 2px;
}
#logMenu{
  width: 200px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  height: 200px;
  display: none;
}
header nav > ul > li:first-of-type:hover #logMenu{
  display: block;
      top: 42px;
    left: -24px;
}
#logMenu li{
  width: 50%;
  text-align: center;
}
#logMenu i{
  color: #00A388;
  font-size: 32px;
  padding: 10px 5px 5px;
}
#logMenu h6{
  color: #333;
  font-size: 18px;
  font-weight: lighter;
}