<div class="innerWrapper">
  <div class="timelineLog walk clearfix" ng-repeat="(index, item) in data.logs">
    <div>
      <img src="assets/roo.jpg" alt="">
    </div>
    <div>
      <h4><span editable-text="item.petname">{{item.petname || "Enter Name"}}</span> <i class="fa fa-map-marker" aria-hidden="true" ng-if="item.logType === 'logWalk'"></i><i class="fa fa-cutlery" aria-hidden="true" ng-if="item.logType === 'logMeal'"></i><i class="fa fa-heartbeat" aria-hidden="true" ng-if="item.logType === 'logMeds'"></i>
      </h4>
      <p ng-if="item.logType === 'logWalk'">
        {{item.petname}} went out and did:
        <span class="icon" ng-if="item.pee === true"><img src="assets/pee.png" alt=""></span>
        <span class="icon" ng-if="item.poop === true"><img src="assets/poo.png" alt=""></span>
      </p>
      <p ng-if="item.logType === 'logMeds'">
        Meds: {{item.medsGiven}}
      </p>
      <p ng-if="item.logType === 'logMeds'">
        Dosage: {{item.dosage}}
      </p>
      <p ng-if="showDetails===true">Notes: {{item.notes}}</p>
      <h6>Posted By: {{item.user}}</h6>
    </div>
    <div class="time">
      <p>{{item.time}}</p>
      <p class="amPM">PM</p>
    </div>
    <div class="aside">
      <p>
        <a href="#/editLogWalk" ng-if="item.logType === 'logWalk'">
          <i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="getLog(item._id)"></i>
        </a>
        <a href="#/editLogMeds" ng-if="item.logType === 'logMeds'">
          <i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="getLog(item._id)"></i>
        </a>
        <a href="#/editLogMeal" ng-if="item.logType === 'logMeal'">
          <i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="getLog(item._id)"></i>
        </a>
      </p>
      <p ng-if="item.notes.length"><i class="fa fa-angle-down" aria-hidden="true" ng-click="toggle()"></i></p>
    </div>

  </div>
</div>