<div class="innerWrapper">
  <div class="logFormContainer">
    <h3>Log Meal</h3>
    <form name="logMealForm" ng-submit='editThis()'>
      <input name="logType" ng-init='log.logType = "logMeal"' type="hidden" value="logMeal">
      <input name="petname" ng-model='log.petname' type="text" placeholder="Pet Name" ng-value="logInfoToPop.petname">
      <input name="time" ng-model='log.time' type="text" placeholder="Time of feeding..." ng-value="logInfoToPop.time">
      <input name="notes" ng-model='log.notes' type="text" placeholder="Notes..." ng-value="logInfoToPop.notes">
      <input name="person" ng-model='log.user' type="text" placeholder="Person logging..." ng-value="logInfoToPop.user">
      <button>Update Log</button>
      <div class="deleteBtn" ng-click="deleteLog(logInfoToPop._id)">Delete</div>
    </form>
  </div>
</div>
